<footer th:fragment="footer">
	<div class="container">
		<div class="card-footer bg-dark mt-4 mb-4" style="border-radius: 10px;">
			<table style="width: 100%">
				<tr>
					<td style="width: 45%">
						<h3>О нас</h3>
						<p>
							Data Service - система, которая:<br/>
							- эффективно собирает пользовательскую информацию;<br/>
							- безопасно хранит её;<br/>
							- не предлагает лишних и навязчивых опций;<br/>
						</p>
					</td>
					<td style="width: 10%;"></td>
					<td style="width: 45%; text-align: right;">
						<h3>Спасибо Вам!</h3>
						<p style="text-align: right;">
							Мы искренне рады, что вы доверили нам<br/>
							хранение важных для вас данных.<br/>
							Обязательно пишите нам свои пожелания!<br/>
							<a href="#">dataservice@support.com</a>
						</p>

					</td>
				</tr>
			</table>
			<div class="d-block text-center">
				<p style="width: 100%; text-align: center;"><small>Naysav and Co.</small></p>
			</div>
		</div>
	</div>
</footer>