<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5%22%3E">
<head>
  <title>Авторизация</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="css/style.css">
  <!-- для разработки не в развертывании-->
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body class="bg-secondary">
	<div class="container h-100"
	     style="height: 10em;  display: flex;  align-items: center;   justify-content: center">
		<div class="card bg-dark" style="width: 500px">
			<div class="card-body">
				<h2 class="text-center">Авторизация</h2>

				<div th:if="${param.error}">
					<h6 class="text-danger">Логин или пароль неверный!</h6>
				</div>


				<form method="POST" th:action="@{/login}">

          <div class="form-group">
            <label for="login">Логин:</label>
            <input type="text" class="form-control" name="username" id="login"/>
          </div>
          <div class="form-group">
            <label for="password">Пароль:</label>
            <input type="text" class="form-control" name="password" id="password"/>
          </div>
					<div class="form-group pl-2">
						<table style="width: 100%">
							<tr>
								<td style="width: 50%; ">
									<input class="form-check-input" type="checkbox" id="inlineFormCheck" name="remember-me">
									<label class="form-check-label " for="inlineFormCheck">
										Запомнить меня
									</label>
								</td>
								<td style="width: 50%; text-align: right">
									<a th:href="@{/registration}" type="button" class="btn btn-link col-sm-8">Регистрация</a>
								</td>
							</tr>
						</table>
					</div>
					<div class="container text-center">
						<button type="submit" class="btn btn-outline-light mb-2 col-sm-4">Войти</button>
					</div>
					<div class="container text-center">
						<a th:href="@{/}" type="button" class="btn btn-link">Вернуться на главную</a>
					</div>
        </form>
      </div>
		</div>
	</div>
</body>
</html>