<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Главная</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="css/style.css">
    <!-- для разработки не в развертывании-->
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body class="bg-secondary h-100">

<div th:insert="~{_navbar :: navbar}"></div>

<div class="container h-100">
    <div class="m-2">
        <h1>DataService - лучший помощник в работе с пользовательскими данными!</h1>
        <p style="font-size: 125%; text-align: justify;">
            Мы - российский стартап, который может собирать
            и хранить данные клиентов автоматически и безопасно. Наша команда, настроив автоматическое взаимодействие
            с клиентами, сэкономит вам не только на зарплате операторов, но и ускорит процесс реализации желаний
            вашей аудитории. Автоматизированная аналитика, построенная на более чем 30 метриках, укажет на слабые
            места вашего общения с потребителями, а также предложит возможные методы решения.</p>
        <p style="font-size: 125%; text-align: justify;">
            Вы - российский бизнес, который ставит перед собой амбициозную цель - безопасно автоматизировать
            сбор пользовательских данных и взаимодействие с клиентами в стандартных ситуациях.
        </p>
    </div>
</div>

<div th:insert="~{_footer :: footer}"></div>
</body>
</html>